@font-face {
    font-family: gilroy;
    src: url(./fonts/Gilroy-Medium.woff);
}
@font-face {
    font-family:mazius;
    src: url(./fonts/MaziusDisplay-Extraitalic.woff);
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    font-family: gilroy;
}

#main{
    width:100%;
    min-height: 100vh;
    overflow-y: hidden !important;
}
#loader{
    /* display: none;    */
    position: fixed;
    width:100%;
    height:100vh;
    background-color: #000;
    color:#fff;
    overflow-y: hidden;
    z-index: 99999;
}
#loader #tophead {
    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50%,0);
}
#loader #tophead h5 {
    text-align:center;
    text-transform:uppercase;
    font-size: 11px;
    font-weight:100;
    letter-spacing: 1px;
}
#middle h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    letter-spacing: 1.5px;
    font-size: 6vw;
    font-family: gilroy;
    width: 100%;
    display: flex;
    justify-content: center;
}
#mazius{
    font-family:mazius;
    font-size: 7vw;
    color: #03AED2;
}
#orange{
    /* display: none; */
    position: absolute;
    top: 100%;
    width:100%;
    height:0px;
    background-color:#03AED2;
    z-index: 999;
}
#hero{
    top: 100%;
    width:100%;
    height:0vh;
    background-color: #FCFAF8;
    position: relative;
}
#hero-child{
    position: fixed;
}
.reveal .parent{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}
.reveal .parent .child{
    display: block;
}
.reveal .parent .child span{
    display: inline-block;
}
#header nav{
    display: flex;
    justify-content: space-between;
    padding: 3vw 5vw;
}
#header nav a{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #383838;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.7px;
}
#header nav a .line{
    right:0;
    bottom: 0;
    position: absolute;
    display: inline-block;
    height:1px;
    background-color: #000;
    transition: 0.5s all;
    width: 100%;
}
#header nav a:hover .line{
    width: 0;
}
#header nav a .line2{
    position: absolute;
    left:0;
    bottom: 0;
    display: inline-block;
    height: 1px;
    background-color:#000;
    transition: 0.5s all;
    transition-delay: 0.2s;
    width: 0;
}
#header nav a:hover .line2{
    width: 100%;
}
#container{
    padding:0 5vw;
    margin-top: 5vw;
    width: 100%;
}
#row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#row #heading{
    width:61%;
}
#row #heading .design{
    font-size: 9vw;
    font-family: gilroy;
    font-weight: 600;
    color:#383838;
}
#side{
    width:20%;
    padding:1vw;
}
#side p{
    margin-top:10px;
    font-size: 1.2vw;
    color:#383838;
    text-transform: uppercase;
}
#side2{
    width:15%;
    padding: 1vw;
}
#side2 p{
    margin-top:10px;
    font-size: 1.2vw;
    color:#383838;
}
#svg_sec{
    width: 40%;
    display: flex;
    justify-content: end;
    padding-right:1vw;
}
#svg_sec svg{
    margin-top:11px;
}
#svgarea{
    height:9vw;
    width:35vw;
}
#album{
    padding:0 5vw;
    margin-top: 18vw;    
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15vw;
    padding-bottom:5vw;
}
#album #right {
    width: 30%;
    height: auto;
}
#album #right h5{
    color:#383838;
    font-size: 2.4vw;
    font-weight: 200;
    letter-spacing: .8px;
    line-height: 2.5vw;
}
#album #right h5 #maziussm{
    font-family: mazius;
    font-size: 2.5vw;
    color:#03AED2;
}
#album #left{
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
#left .crousel{
    position:absolute;
    height: 43vw;
    width:30vw;
    border-radius: 2vw;
    filter: grayscale();
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#left .crousel:nth-child(1){
    transform: translate(-40%,-10%) rotate(-20deg);
    background-color: green;
}
#left .crousel:nth-child(2){
    transform: translate(-10%,0%) rotate(-15deg);
    background-color: blue;
}
#left .crousel:nth-child(3){
    transform: translate(20%,10%) rotate(-10deg);
    background-image: url(./assets/image1.jpg);
    background-size: cover;
    background-position: center;
}
#left .crousel:hover{
    filter:grayscale(0);
    transform:translate(0%,0%) rotate(0);   
    z-index: 9;
}
#work{
    width: 100%;
    height: 35vw;
    background-color: #F2F2F2;
    position: relative;   
}
#work::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    background: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -50px;
    background-position: center;
    transform: rotate(-180deg);
}
::-webkit-scrollbar{
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
#arrow{
    padding: 5vw 0vw;
    width: 20%;
    height: 4vw;     
}
#arrow svg{
  width: 100%;
  height:5vw;
  }
#arrow svg path{
    stroke:#38383898;
}
#txtcontn{
    max-width:100%;
    padding:1vw 20vw;
}
#txtcontn h5{
    text-transform: uppercase;
    color:#38383898;
    font-size: 1vw;
    font-weight: 400;
}
#txtcontn h1{
    margin-top: 1vw;
    text-transform: uppercase;
    color:#383838;
    font-size: 2vw;
    font-weight: 400;
}
#line{
    position: absolute;
    padding:0 5vw;
    width:100%;
    height:800px;
    top:170px;
    
    /* background-color: #03AED2; */
}
#line>svg{
    width:100%;

}
#line>svg>path{
    stroke:#38383898;    
}
#work-feed{
    padding: 5vw 5vw;
    width: 100%;
    height:fit-content;
    background-color:#F2F2F2;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    
}
#headline{
    width: 100%;
    padding-left: 7vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* background-color: white;  */
}
#headline h1{
    font-size: 7vw;
    font-weight: 500;
    color:#383838;
}
#headline>#arrow>svg{
    transform: rotate(90deg);
}
#images{
    padding-top:10vw; 
    width:100%;
    display: flex;
    gap:3vw;
    /* justify-content: space-between; */
}
#images:nth-child(3){       
    padding-top:5vw;
}
#images:nth-child(4){
    padding-top:5vw;
}
#left-banner{
    width:60%;
}
#right-banner{
    width:38%;
    margin:15vw 0 0 0;
}
#images .imgcon{
    width:100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 2vw;
    position: relative;   
}
#desc{
 width:60%;
 padding:2vw 0 0 0; 
}
#right-banner>#desc{
    width:100%;
    /* padding-left: 10vw; */
 }
#desc h5{
    font-size:1.2vw;
    font-weight: 100;
    color:#383838;
    line-height: 1.7vw;
}
#desc>a>button{
    padding:1vw 3vw;
    margin:2vw 0 0 0;
    color:#383838d3;
    border-color: #383838d3;
    font-size:1.5vw;
    border-radius: 10vw;
    border-width: 1.5px;
    font-family: gilroy;
    background-color:transparent;
    cursor: pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#desc>a>button:hover{
    background-color: #fff;
    font-weight: 400;
    color:#000;
    border-color: #000;
    border-width: 1.8px;
}
#images>#right-banner>.imgcon{
    /* margin-top: 20vw; */
    width:100%;
}
#images>#center-banner{
    width: 80%;
    margin: 0 auto;  
}
#images .imgcon2 {
    width:100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 2vw;
    position: relative; 
}
#images>#center-banner>#desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    text-align: center;
}
#images .imgcon2 img{
    width: 100%;
}
#images .imgcon img{
    width: 100%;
}
#images #left-div{
    width:40%; 
    margin:15vw 0 0 0;
}
#images #right-div{
    width:60%;
}
#images>#left-div>#desc{
    width:85%;
}
#images>#right-div>#desc{
    width:80%;
}
#resume-sec{
    width:100%;
    height:108vh;
    position: relative;
    background-color: #F2F2F2;
}
#resume-sec video{
    height:100%;
    width:100%;
    opacity: 0;
    object-fit: cover;
    object-position: center;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
#resume-sec #button-area{
    top:36.5%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 33vh;
    width: 15%;
}
#resume-sec button{
    z-index: 11;
    height: 100%;
    width: 100%;
    color:#383838d3;
    border-color: #383838d3;
    font-size:3vw;
    font-weight: 300;
    border-radius: 50%;
    border-width: 2px;
    font-family: gilroy;
    background-color:#fff;
    cursor: pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#resume-sec button:hover{
    background-color: transparent;
    color:#000;
    border-color: #000;
    border-width: 1.8px;
}
.maziusbtn{
    font-family: mazius;
    font-size: 3.2vw;
    color:#03AED2;
    font-weight: 500;
}
#certificate{
    padding: 5vw 5vw;
}
#image-certi{
    width: 60%;
    height: fit-content;
    margin: 0 auto;
}
#image-certi img{
    width: 100%;
}
#footer-overlay{
    width: 100%;
    height: fit-content;
    background-image: url(./assets/3398219-min.jpg);
    background-size: cover;
    background-position: center;
   
}
#footer{
    width: 100%;
    background-color: #055775d0;
    height: fit-content;
    padding:0vw 5vw 4vw 5vw;
}
#footer>#headline{
    text-align: center;
}
#footer>#headline>h1{
    color:#fff;
    font-size: 5.2vw;
    font-weight: 600;
    margin-left:22px;
}
#footer>#headline>#arrow>svg>path{
    stroke: #fff;
}
#mail-button{
    width: 100%;
    margin:5vw 0 0 0;   
    display: flex;
    justify-content: center;
}
#footer #mail-button button{
    width: 100%;
    color:#fff;
    font-family: gilroy;
    font-weight: 400;
    font-size: 2vw;
    border-radius: 10vw;
    border-width: 2px;
    border-color: #fff;
    padding:2vw 3vw;
    background-color: transparent;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    cursor: pointer;
}
#footer #mail-button button:hover{
    background-color: #FCFAF8;
    color:#000;
    border:none;
}
#footer #social{
    margin: 5vw 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#footer #social .social-icons{
    padding:2vw;
    width: 20%;
    height: 100px;
    border-top: 2px solid #Fff;
}

#footer #social .social-icons a{
    color:#fff;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: gilroy;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer #copyright-area{
    margin:5vw 0 0 0;
}
#footer #copyright-area h5{
    color:#fff;
    font-size: 1vw;
    font-weight: 100;
    letter-spacing: 1px;
}
/* Github */
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
}
.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}
.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}
  
@media (max-width:680px) {
    #line{
        top:45px;
        height: 100px;
    }
    #main{
        height: 6000px;
    }
    #resume-sec  {
        display: none;
    }

}
